@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.video {
    z-index: -1;
    position: fixed;

}


.div-pai {
    position: relative;
}

.baner {

    position: relative;
    width: 100%;
    height: auto;
    opacity: .8;

}

.div-filho {
    display: block;
    height: 150px;
    position: absolute;
    top: 35%;
    left: 68%;
    transform: translate(-29%, -53%);
}

.social img {

    margin-right: 8%;
    display: inline-block;
    width: 12%;
    margin-bottom: 5%;
}

.p {
    right: 11%;
    position: relative;
    width: 90%;
    color: #FFF;
    font-family: 'Lexend Giga', sans-serif;
    text-align: center;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.titulo {
    position: relative;
    display: block;
    text-align: center;
    line-height: 5.5vw;
    left: -15%;
    bottom: 5%;

}

.titulo h1 {
    color: #FFF;
    font-family: Lalezar;
    font-size: 5.5vw;
    font-weight: 400;


}

.titulo h1:last-of-type {
    font-weight: 400;
    color: #20ABF0;
}

.Pc {
    display: none;
}

@media screen and (max-width:900px) {
    .baner {
        display: none;
    }

    .div-filho {
        margin-left: -10vw;
        position: relative;
        width: 100vw;
        top: 70vw;
        left: 50%;
        justify-content: center;
        align-items: center;

    }

    .titulo h1 {

        margin-left: 6vw;
        position: relative;
        font-size: 15vw;
        line-height: 15vw;


    }

    p {
        margin-left: 5vw;
        right: 4vw;
        position: relative;
        font-size: 5vw;
        width: 100vw;
    }

    .Pc {
        top: 1vh;
        z-index: 1;
        position: absolute;
        margin-left: 20vw;
        display: block;
        width: 60vw;
    }
}

.teste {
    background: rgba(19, 129, 5, 0.223);
    width: 150px;
    height: 1500px;
}

.h1 {
    width: 5px;
}